<div  *ngIf="!authenticationService.isUserLoggedIn() else loggedin">
  <app-login (IsLoggedIn)="AfterLoggedIn($event)"></app-login>
</div>
<ng-template #loggedin>
<mat-sidenav-container class="nav-container" >  
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div class="form-popup" id="myForm">
            <div class="form-container">
              <div>
                <!-- <button type="submit" class="mat-mini-fab closebtn"> -->
                  <mat-icon  class="closebtn" (click)="closeForm()">clear</mat-icon>
                <!-- </button>         -->
                <h1 style="color:rgb(233, 99, 50);"><img src="assets/jmc.jpg" alt="jmc" height="80" width="80"> Account</h1>
              </div>
              <mat-divider></mat-divider>
          
              <h2 style="padding-top: 5px;padding-bottom: 5px;">Role</h2>
              <mat-divider></mat-divider>
             <div>
               <p style="padding-top: 10px;padding-bottom: 10px;"> 
                You're signed in as {{username}}. </p>
              <div style="padding-bottom: 10px;">
                  <mat-icon >account_circle</mat-icon>
                  <a routerLink="/user/{{username}}/mu" (click)="closeForm()" style="vertical-align:top;">Manage your profile</a>
              </div>  
              <div style="padding-bottom: 10px;">
                <mat-icon >exit_to_app</mat-icon>
                <a href="/login" style="vertical-align:top;">SignOut</a>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-top: 10px;">
                <a href="/terms" class="terms-link">Terms</a>
                <a style="padding-left: 10px;padding-right: 10px;">.</a>
                <a href="/privacy" class="terms-link">Privacy</a>
              </div>
            </div>
          </div>
          </div>
          <mat-icon color="Disabled" style="float: right;" (click)="sidenav.toggle()">close</mat-icon>
          <div style="text-align:center;padding-top: 10px;border-radius: 25px;">
            <button type="submit" class="btn btnLoggedUser" (click)="openForm()">
              <img src="assets/jmc.jpg" alt="jmc" class="jmc-button">
              {{authenticationService.getAuthenticatedUser()}}
              <mat-icon color="Disabled" class="btnLoggedUserIcon">arrow_forward_ios</mat-icon>
            </button>
        </div>  
        <div class="container">
            <ul class="ul-sidebar">
              <li><mat-icon>dashboard</mat-icon>
                <a routerLink="/welcome/{{username}}" style="vertical-align:top;">Dashboard</a></li>
              <li style="text-align: left;">
                <div>
                  <mat-icon>add_shopping_cart</mat-icon>
                  <a (click)="toggleNavbar()"  class="menubutton">
                    Expenses </a>
                </div> 
                <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">        
                  <ng-container *ngFor="let menu of expenseMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="[menu.url]" 
                                id="{{menu.id}}">{{menu.name}}</a>    
                        </li>    
                    </ul> 
                  </ng-container>
                </div>
              </li>
              <li>
                <div>
                  <mat-icon>account_balance</mat-icon>
                  <a   class="menubutton">Accounting</a>
                </div> 
              </li>
              <li>
                <div>
                  <mat-icon>location_city</mat-icon>
                  <a   class="menubutton">Inhouse</a>
                </div> 
              </li>
              <li>
                <div>
                  <mat-icon>insert_chart_outlined</mat-icon>
                  <a  (click)="toggleReportsNavbar()" class="menubutton">Reports</a>
                </div> 
                <div class="collapse navbar-collapse " [ngClass]="{'show': reportsNavbarOpen}">        
                  <ng-container *ngFor="let menu of reportsMenu">
                    <ul class="navbar-nav mr-auto subMenu">
                        <li class="nav-item ">
                            <a class="nav-link" [routerLink]="[menu.url]" 
                                id="{{menu.id}}">{{menu.name}}</a>    
                        </li>    
                    </ul> 
                  </ng-container>
                </div> 
              </li>    
            </ul>
            </div>
            <mat-divider></mat-divider>
            <div>
              <ul class="ul-sidebar">
                <li>
                  <div>
                    <mat-icon>settings</mat-icon>
                    <a  (click)="toggleSettingsNavbar()"  class="menubutton">Settings</a>
                  </div>
                  <div class="collapse navbar-collapse " [ngClass]="{'show': settingsNavbarOpen}">        
                    <ng-container *ngFor="let menu of settingsMenu">
                      <ul class="navbar-nav mr-auto subMenu">
                          <li class="nav-item ">
                              <a class="nav-link" [routerLink]="[menu.url]" 
                                  id="{{menu.id}}">{{menu.name}}</a>    
                          </li>    
                      </ul> 
                    </ng-container>
                  </div> 
                </li>  
                <li>
                  <div>
                    <mat-icon>help_outline</mat-icon>
                    <a   class="menubutton">Help</a>
                  </div> 
                </li>   
              </ul>
            </div>
    </mat-sidenav>  
    <mat-sidenav-content (click)="closeForm()">
        <div class="router-container-top">
            <button *ngIf="!opened"  class="menubutton"  id="tog-button" (click)="sidenav.toggle()">
              <mat-icon style="color: black;">menu</mat-icon>
            </button>
            <mat-select [(value)]="selectedYear" placeholder="Year" 
            (selectionChange)="yearChange($event.value)" class="year-select">
              <mat-option *ngFor="let year of financialYears" [value]="year.year">
                {{year.year}}
              </mat-option>
            </mat-select>
        </div>
        <mat-divider></mat-divider>
        <div class="router-container">
            <router-outlet ></router-outlet>
        </div>        
    </mat-sidenav-content>    
</mat-sidenav-container>
</ng-template>

