.form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%; 
    /* text-align: center; */
    padding: 10px;
  }
  
  .form-field {
    width: 100%;
  }
  .error {
    font-size: 10px;
    color: red;
  }
  .excel {
    background-color:darkgreen;
    color: white;
    align-self: baseline;
  }
  .back {
    background-color: silver;
    color: white;
    align-self: baseline;
  }

  .mat-column-action {
    flex: 0 0 7%;
 }

 .mat-column-voucherNo {
  flex: 0 0 7%;
}

mat-header-cell, mat-cell {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;
}