<div class="container form">
    <div class="row">
        <div class="col-sm-3" *ngIf="isSummaryRequired">
            <button class="btn back" (click)=returnBack() >
                <mat-icon>arrow_back</mat-icon>
                Summary
            </button>
        </div>
        <div class="col-sm-6" >
            <h1> Transaction Statement</h1>
        </div>
        <div class="col-sm-3" ></div> 
    </div>
    <form>
        <div class="row">
            <div class="col-sm-3" >
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" 
                        [(ngModel)]="startDate" 
                        [matDatepicker]="startPicker" name="fromDate"
                        (dateChange)="onDateChange()"
                        #fromDate="ngModel" required="required">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-3" >
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>End Date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" 
                        [(ngModel)]="endDate" 
                        [matDatepicker]="endPicker" name="toDate"
                        (dateChange)="onDateChange()"
                        #toDate="ngModel" required="required">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-3" >
                <button class="btn excel" (click)=exportAsXLSX()>
                    <mat-icon>explicit</mat-icon>
                    Excel
                </button>
                <button class="btn btn-secondary" (click)=printReport()>
                    <mat-icon>print</mat-icon>
                    Print
                </button> 
            </div>
            <div class="col-sm-3" ></div>
        </div>
        <div id="printSection">
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
                <ng-container matColumnDef="action" sticky>
                    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <mat-icon matTooltip="edit" (click)="editRow(element)">edit</mat-icon>
                      <button mat-icon-button [disabled]=!globalVariablesService.enableDelete 
                                (click)="deleteRow(element)">
                        <mat-icon matTooltip="delete" >delete</mat-icon>
                      </button>
                      <!-- <mat-icon matTooltip="delete" (click)="deleteRow(element)">delete</mat-icon> -->
                    </mat-cell>      
                </ng-container> 
                <ng-container matColumnDef="voucherNo" sticky>
                    <mat-header-cell *matHeaderCellDef>Voucher No. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let idx = index;">
                          {{element.voucherNo}} 
                    </mat-cell>                       
                </ng-container>
                <ng-container matColumnDef="transSubCategoryName" style="width: 10px;">
                  <mat-header-cell *matHeaderCellDef> Subcategory Name </mat-header-cell>
                  <mat-cell *matCellDef="let element; let idx = index;">
                        {{element.transSubCategoryName}} 
                  </mat-cell>                       
                </ng-container>
                <ng-container matColumnDef="transactionDate"  style="width: 20px;">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.transactionDate | date: 'dd-MMM-yyyy HH:mm:ss'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="transactionDesc" style="width: 10px;">
                    <mat-header-cell *matHeaderCellDef>Transaction Description </mat-header-cell>
                    <mat-cell *matCellDef="let element; let idx = index;">
                          {{element.transactionDesc}} 
                    </mat-cell>                       
                </ng-container>
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element" >{{element.amount | number : '.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="paymentType" style="width: 10px;">
                    <mat-header-cell *matHeaderCellDef>Payment Type </mat-header-cell>
                    <mat-cell *matCellDef="let element; let idx = index;">
                          {{element.paymentType}} 
                    </mat-cell>                       
                </ng-container>         
                <ng-container matColumnDef="accountName" style="width: 10px;">
                    <mat-header-cell *matHeaderCellDef>Account Name </mat-header-cell>
                    <mat-cell *matCellDef="let element; let idx = index;">
                          {{element.accountName}} 
                    </mat-cell>                       
                </ng-container>   
                <ng-container matColumnDef="transactionRefNo" style="width: 10px;">
                    <mat-header-cell *matHeaderCellDef>Transaction Reference </mat-header-cell>
                    <mat-cell *matCellDef="let element; let idx = index;">
                          {{element.transactionRefNo}} 
                    </mat-cell>                       
                </ng-container>   
                            
                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let idx = index;" 
                          matTooltip="double click to get detail report"
                          (dblclick)="rowDoubleClick(row)"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>    
    </form>
</div>
