<div class="mat-elevation-z8">    
    <div >
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field> 
        <button mat-raised-button color="primary" style="float: right;vertical-align: bottom;" (click)="AddRow()">
            Add Category
        </button>
      </div>
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
          <ng-container matColumnDef="action" sticky>
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <mat-icon matTooltip="edit" (click)="editRow(element)">edit</mat-icon>
              <mat-icon matTooltip="delete" (click)="deleteRow(element)">delete</mat-icon>
            </mat-cell>      
          </ng-container> 
          <ng-container matColumnDef="transCategoryCd" style="width: 10px;">
            <mat-header-cell *matHeaderCellDef> Category Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.category_cd}} </mat-cell>      
          </ng-container>  
          
          <ng-container matColumnDef="transCategoryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.category_name}} </mat-cell>
          </ng-container>  

          <ng-container matColumnDef="transCategoryDesc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.category_desc}} </mat-cell>
          </ng-container>      
          
          <ng-container matColumnDef="transactionType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.transactionType.transaction_type}}</mat-cell>
          </ng-container>  
         
          <ng-container matColumnDef="transBalance">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.balance | number : '.2-2'}}</mat-cell>
        </ng-container>
                      
          <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" 
                    (dblclick)="editRow(row)"></mat-row>
        </mat-table>
  </div>
  

